/*
#participants {
    margin-top:25px;
    width:250px;
    height:300px;
    background-color:#FFFAF5;
    border-radius:5px;
    border:#E0C8B6 2px ridge;
    padding:5px;
    font:15px arial;
    color:#A12A0B;
}

.bubble {
    float:right;
    width:40px;
    height:40px;
    color:#FFFFFF;
    background-color:#D83B12;
    border-radius:21px;
    border:#A12A0B 2px ridge;
    margin-top:-20px;
    margin-right:-20px;
    text-align:center;
    line-height:40px;
    text-shadow:1px 1px #000;
    font-weight:bold;
}

.participantsList {
    margin-top:-10px;
    padding:10px;
    border:none;
    height:75%;
    overflow:auto;
}
*/